*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#body {
    background-color: rgba(190, 189, 178, 0.815);
}

/* .header{

} */

.menu{
    margin: 0 auto;
    width: 300px;
    list-style: none;
}

.menu li {
    display: inline;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: #fff;  /* #000 */
    text-shadow: 1px 1px 2px #000000;
    font-size 20px;
}

main {
    width: 1100px;
    margin: 100px auto 0;
}

article {
    width: 400px;
    display: inline-block;
}

.step {

}

img {
    height: 140;
    width: 100%;
}